@import url('https://fonts.googleapis.com/css?family=Poppins');

:root {
  --dark-bg: #232931;
  --gray-bg: #393E46;
  --green-bg: #4ECCA3;
  --white-bg: #EEEEEE;
}

* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: var(--dark-bg);
}

.text-theme {
  color: var(--dark-bg);
}

.text-theme-white {
  color: var(--white-bg);
}

.category-btn {
  background-color: var(--green-bg);
}

.category-btn:hover {
  background-color: #69D2B0;
}

.product-bg {
  background-color: var(--white-bg);
}

.payment-btn {
  background-color: var(--white-bg);
}

.add-btn { 
    background-color: #69D2B0;
}

.add-btn:hover {
  background-color: var(--white-bg);
}

.login-btn {
  background-color: var(--green-bg);
}