{% extends 'base.html' %}
{% block title %}
Login
{% endblock %}

{% block content %}
<div id="container" class="flex h-screen w-screen">
  <div id="login" class="m-auto">
    <span class="text-lg text-theme-white font-bold">Login | POSmart</span>
    <form action="{{ url_for('views.login') }}" method="post" class="mt-5">
      <input type="text" name="username" placeholder="Username" class="input w-full text-center" />
      <input type="password" name="password" placeholder="Password" class="input w-full text-center mt-3" />
      <br />
      <button type="submit" class="btn btn-active btn-accent w-full text-center mt-3">Login</button>
    </form>
  </div>
</div>

{% endblock %}