{% extends 'base.html' %}
{% block title %}
Sales Report
{% endblock %}

{% block content %}
<div class="drawer">
  <input id="my-drawer" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content">
    <div class="modal" id="update-user-modal">
      <div class="modal-box">
        <form action="{{ url_for('views.users') }}" method="post">
          <h3 class="font-bold text-lg">Edit Profile</h3>
          <input type="hidden" name="_method" value="put" />
          <input type="hidden" name="user_id" value="{{ user.user_id }}" />
          <input type="hidden" name="role" value="{{ user.role }}" />
          <input type="text" name="username" placeholder="Username" value="{{ user.username }}"
            class="input w-full text-center mt-5" readonly />
          <input type="text" name="name" placeholder="Name" value="{{ user.name }}" class="input input-bordered w-full text-center mt-5"/>
          <div class="divider"></div>
          <input type="password" name="password" placeholder="Password"
            class="input input-bordered w-full text-center" />
          <input type="password" name="confirmpass" placeholder="Confirm Password"
            class="input input-bordered w-full text-center mt-5" />
          <div class="modal-action">
            <a href="" class="btn btn-active btn-ghost">Close</a>
            <button type="submit" class="btn btn-active btn-accent">Save</button>
          </div>
        </form>
      </div>
    </div>
    <div class="navbar bg-base-100">
      <div class="flex-none">
        <label for="my-drawer" class="btn btn-square btn-ghost drawer-button">
          <i class='bx bx-menu text-lg'></i>
        </label>
      </div>
      <div class="flex-1">
        <a href="{{ url_for('views.home') }}" class="btn btn-ghost normal-case text-xl">POSmart</a>
      </div>
      <div class="flex-none">
        <div class="dropdown dropdown-end">
          <label tabindex="0" class="btn m-1 capitalize">{{ user.name }}</label>
          <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
            <li><a href="#update-user-modal">Edit Profile</a></li>
          </ul>
        </div>
      </div>
      <div class="flex-none">
        <a href="{{ url_for('views.logout') }}" class="btn btn-square btn-ghost">
          <i class='bx bx-power-off' ></i>
        </a>
      </div>
    </div>
    <div id="info" class="w-11/12 mx-auto mt-10">
      <div id="stats" class="flex justify-between">
        <div class="card w-2/4 bg-base-50 shadow-xl">
          <div class="card-body">
            <h2 class="card-title">Today's Sales</h2>
            <div class="flex justify-between">
              <div class="stats shadow">
                <div class="stat">
                  <div class="stat-title">
                    <div class="stat-figure text-warning">
                      <i class='bx bxs-bar-chart-alt-2 text-2xl' ></i>
                    </div>
                  </div>
                  <div class="stat-value">{{ total_sales }}</div>
                  <div class="stat-desc">Total Sales</div>
                </div>
              </div>
              <div class="stats shadow">
                <div class="stat">
                  <div class="stat-title">
                    <div class="stat-figure text-primary">
                      <i class='bx bxs-cart-alt text-2xl' ></i>
                    </div>
                  </div>
                  <div class="stat-value">{{ today_orders|length }}</div>
                  <div class="stat-desc">Total Order</div>
                </div>
              </div>
              <div class="stats shadow">
                <div class="stat">
                  <div class="stat-title">
                    <div class="stat-figure text-accent">
                      <i class='bx bxs-package text-2xl' ></i>
                    </div>
                  </div>
                  <div class="stat-value">{{ products_sold }}</div>
                  <div class="stat-desc">Total Product Sold</div>
                </div>
              </div>
            </div>
          </div>
        </div>
  
        <div class="card w-1/4 bg-base-50 shadow-xl justify-end">
          <div class="card-body">
            <h2 class="card-title">Top Product of The Month</h2>
            <table class="w-full text-center border-separate border-spacing-1">
              <thead>
                <tr>
                  <th>Product Name</th>
                  <th>Product Sold</th>
                </tr>
              </thead>
              <tbody>
                {% for product in top_products %}
                  <tr>
                    <td>{{ product[0] }}</td>
                    <td>{{ product[1] }}</td>
                  </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
  
      <div id="report" class="overflow-x-auto mx-auto mt-10">
        <select class="select select-bordered w-full max-w-xs" onchange="selectMonth(this)">
          <option disabled selected>Select Month</option>
          <option value="01">Januari</option>
          <option value="02">Februari</option>
          <option value="03">Maret</option>
          <option value="04">April</option>
          <option value="05">Mei</option>
          <option value="06">Juni</option>
          <option value="07">Juli</option>
          <option value="08">Agustus</option>
          <option value="09">September</option>
          <option value="10">Oktober</option>
          <option value="11">November</option>
          <option value="12">Desember</option>
        </select>
        <canvas id="report-chart" class="w-screen"></canvas>
      </div>
    </div>
  </div> 
  <div class="drawer-side">
    <label for="my-drawer" class="drawer-overlay"></label>
    <ul class="menu p-4 w-80 bg-base-100 text-base-content">
      <li><a href="{{ url_for('views.home') }}">Orders</a></li>
      <li><a href="{{ url_for('views.products') }}">Products</a></li>
      <li><a class="active">Sales Report</a></li>
      {% if user.role == 'admin' %}
      <li><a href="{{ url_for('views.users') }}">Users</a></li>
      {% endif %}
    </ul>
  </div>
</div>

{% endblock %}

{% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="{{ url_for('static', filename='js/report.js') }}"></script>
{% endblock %}